*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:
    'cooper','andy bold';
}

.main-wrapper{
    margin:0 auto;
    padding:0 15px;
    max-width:1170px;
}

.logo{
    width: 90px;
    height: 65px;
    float: left;
    margin-left: 140px;
    margin-top: auto;
}

header{
    background-color:#323333;
    height: 65px;
    position: sticky;
    top:0;
    z-index:10;
}

header>.main-wrapper{
    display:flex;
    align-items:center;
    height:100%;
}

.main-menu{
    margin-left:auto;
    float: right;
    margin-right: 140px;
    margin-top:18px;
}

.main-menu>ul>li{
    display:inline-block;
    font-size:28px;
    font-family:'cooper',andy Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color:white;
    margin-right:15px;
    cursor:pointer;
    position:relative;
}

.main-menu>ul>li>a{
    text-decoration:none;
    color:inherit;
}

.main-menu>ul>li:last-child{
    margin-right:0;
}

.main-menu>ul>li:hover::before{
    opacity:1;
    width:100%;
}

h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}

.main-board{    
    background-color: #808181;
    height: 300px;
}

.main-board::after{
    content:'';
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 1;
}

.main-board>.main-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.main-board h1{
    color:#000000;
    padding: 25px 0 0 30px;
    position:relative;
    margin-bottom: 35px;
}
    
.main-board__left-block>div:first-of-type{
    color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 45px;
}

.main-board__left-block>div:last-of-type{
    display: flex;
}

.main-board__button-link:first-of-type{
    margin-right: 20px;
}


.main-board__button-link{
    display:flex;
    align-items: center;
    width: 165px;
    height:50px;
    border:1px solid #9f81e6;
    font-size: 18px;
    border-radius: 0 5px 0 5px;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 12px;
    transition-duration: 0.3s;
}

.main-board__button-link>i{
    margin-left:20px;
    margin-right: 15px;
    font-size: 30px;
    color: #9f81e6;
    width:26px;
    transition-duration: 0.3s;
}

.main-board__button-link_bold{
font-size: 14px;
font-weight: 600;
}

.main-board__button-link:hover{
    background: #58668b;
}

.main-board__button-link:hover>i{
color: #FFFFFF;
}


h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
}

h2>span{
    position:relative;
}

h2>span::after{
    content:"";
    height:2px;
    background: #444444;
    width:40%;
    margin-left:-20%;
    left:50%;
    top:120%;
    position:absolute;
}

h3{
    font-size: 24px;
    font-weight: 600;
}

.services,.works,.team,.blog,.contact,footer{
    padding:60px 0;
}

.services__block-item{
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}

.services__item{
    padding: 30px;
    flex:0 0 32%;
    text-align:center;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.services__item:hover {
    box-shadow: 0 5px 25px 0 rgba(5,5,5,0.2);
}

.box-icon{
    border:1px solid #161C35;
    border-radius: 50%;
    height:108px;
    line-height: 108px;
    text-align: center;
    width: 108px;
    margin:0 auto;
    transition-duration: 0.3s;
}

.box-icon>i{
    font-size: 54px;
    color:#161C35;
    line-height: 108px;
    transition-duration:0.3s;
}

.services__item:hover .box-icon{
    background: #161C35;
}

.services__item:hover .box-icon>i{
    color:#FFFFFF;
}

.services__item>h3{
    margin:23px 0;
    color:#161C35;
    text-align:center;
}

.services__item>p{
    font-size:16px;
    font-weight: 400;
    font-family:'Open Sans',sans-serif;
    line-height: 24px;
    margin-bottom:20px;
    color:#666666;
}

.services__item>a{
    display:inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color:#161C35;
    font-size: 18px;
    border-radius: 0 5px 0 5px;
    border:1px solid #161C35;
    text-decoration: none;
    transition-duration: 0.3s;
}

.services__item>a:hover{
    background: #161C35;
    color:#FFFFFF;
}
.works{
    background-color: #353030;
    background-size:cover;
    position: relative;
}


.works::after,.blog::after{
    content:'';
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(33,42,73,0.6);
    z-index: 1;
}

.works>.main-wrapper,.blog>.main-wrapper{
    position:relative;
    z-index: 2;
}

.works>.main-wrapper>div{
    display:flex;
    width: 100%;
    align-items:center;
    justify-content: space-between;
}

.works h2,.blog h2>span::after{
color:#FFFFFF
}

.works h2>span::after,.blog h2>span::after{
    background: #FFFFFF;
}


.works__container {
    flex:0 0 60%;
    margin-top:30px;
    font-size: 16px;
    font-weight:400;
    font-family: 'Open Sans',sans-serif;
    line-height: 24px;
    color:#FFFFFF;
}

.works__container>h3{
    margin-bottom:30px;
}

.works__container>ul{
    margin-top: 20px;
    list-style: none;
}

.works__container>ul>li{
    padding-left: 22px;
    position:relative;
    margin-bottom:15px;
}

.works__container>ul>li::before{
    content:'\f105';
    position:absolute;
    left:0;
    font-family: 'fontawesome';
    color:#00D5C3;
}

.news_logo{
    width: 65px;
    height: 65px;
    justify-content: flex-start;
} 
.groot{
    width: 210px;
    height: 175px;
    margin-left: 100px;
    
}

.container{
    display:flex;
    flex-wrap:wrap ;
    justify-content: space-between;

}

.product{
    width: 450px;
    height: 300px;
    margin: 25px;
    padding: 10px;
    border:1px solid #ccc;
    text-align: center;
}

.product img{
    max-width:70px;
}

.card {
    width: 250px;
    height: 170px;
}

.price{
    color:#ff2f00;
    font-weight:bold;
}

.deedpool{
    width: 210px;
    height: 175px;
    margin-left: 100px;
}



.product2{
    width: 400px;
    height: 300px;
    margin: 25px;
    padding: 10px;
    border:1px solid #ccc;
    text-align: center;
}

.product img{
    max-width:70px;
}

.card2 {
    width: 250px;
    height: 170px;
}

.price2{
    color: #ff0000;
    font-weight: bold;
}

.cat{
    width: 210px;
    height: 175px;
    margin-left: 100px;
    
}

.container3{
    display: flex;
    flex-wrap:wrap ;
    justify-content: end;
}

.product3{
    width: 470px;
    height: 350px;
    margin: 25px;
    padding: 10px;
    border:1px solid #ccc;
    text-align: center;
}

.card3 {
    width: 250px;
    height: 170px;
}

.price3{
    color: #ff0000;
    font-weight: bold;
}

.product img{
    max-width:200px;
}

button{
    background-color: #3498db;
    color: #fff;
    border:none;
    padding:5px 10px;
    margin:5px 0;
    cursor:pointer;
}

button:hover{
    background-color: #2776ab;
}

