*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}
body::before{
    content:'';
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background: url(img/fon.png) no-repeat;
    background-size: cover;
    filter: blur(3px);
}
body::after{
    height: 100%;
    width: 100%;
    content:'';
    top: 0;left: 0;
    background-color: rgba(0, 0, 0, .5);
}
.header{
    display: flex;
    padding: 5px;
    background-color: rgb(255, 198, 128);
    height: 80px;
    box-shadow: 0px 0px 20px black;
    z-index: 12;
}
header > .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100;
    border-radius: 7px;
}
.main-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-menu{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto';
    margin-left: 50px;
    z-index: 5;
}
.main-menu > ul > li > a{
    text-decoration: none;
    color: inherit;
    padding: 20px;
}
.logo{
    position: relative;
    transition: .5s;
    display: flex;
    align-items: center;
    max-width: 100px;
}
.logo:hover{
    transform: scale(1.05);
    opacity: 0.6;
}
form{
    display: flex;
    width: 450px;
    margin-left: 50px;
    align-self: center;
}
input{
    padding: 8px 20px;
}
.Search{
    position: relative;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.button-Search{
    background-color: rgb(238, 44, 44);
    width: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.6s;
    font-size: 15px;
}
.button-Search:hover{
    background-color:rgb(30, 9, 100);
    color: white;
}
.header nav ul li{
    position: relative;
    float: left;
}
.header nav ul li a{
    padding: 5px;
    color: black;
    font-size: 20px;
    display: block;
    transition: .5s;
}
.header nav ul li a:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
}
nav ul li ul{
    position: absolute;
    left: 0;
    width: 120px;
    background: rgb(208, 0, 0);
    display: none;
}
nav ul li:hover > ul {
    display: initial;
}
nav ul li ul li{
    padding: 2px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
nav ul li ul li ul{
    left: 118px;
    top: 15px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.images>a>img{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 198, 128, 1);
}
.images>a>span{
    font-size: 20px;
    padding: 5px;
    color: rgb(255, 255, 255);
    display: block;
    background-color: black;
    text-align: center;
}
.images ul{
    display: flex;
    
    width: 120px;
    background: rgb(208, 0, 0);
    display: none;
}
.images:hover>ul{
    display: initial;
}