*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #111018;
    height: 44px;
    position: sticky;
    top:0;
    z-index: 10;
}

.main-wrapper{
    margin: 0;
    padding-top: 5px auto;
    max-width: 1280px;
}

header>.main-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu{
    margin-left: 480px;
}

.main-menu>ul>li{
    display: inline-block;
    font-size: 19px;
    cursor: pointer;
    position: relative;
    padding: 35px;
}

.main-menu>ul>li>a{
    text-decoration: none;
    color: #FFFFFF;
}
.main-menu>ul>li:last-child{
    display: inline-block;  
    text-decoration: none;
    color: #ec0606;
    font-size: 16px;
    padding-left: 1010px;
    position: absolute;
    cursor: pointer;
}





