*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 5px;
    background-color: rgb(255, 198, 128);
    height: 100px;
    z-index: 12;
}
header > .main-wrapper{
    margin: 0;
    padding: 0;
    max-width: 1170px;
} 
.main-wrapper{
    margin: 0 150px 0 150px;
}
header > .main-wrapper{
    display: flex;
    align-items: center;
    text-align: right;
}
header > .main-wrapper >.logo{
    display: flex;
    align-items: center;
    max-width: 150px;
}
.main-menu > ul > li{
    display: inline;
    
}
.main-menu{
    margin-left: auto;
}
.main-menu > ul > li > a{
    text-decoration: none;
    color: inherit;
}
header > .main-wrapper > .main-menu{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}